body {
    font-family: 'Poppins';
}

.Heading {
    font-weight: 900;
    color: #005EA7;
    margin-bottom: 1em;
}

.web {
    background-color: whitesmoke;
    margin: 0px;
    height: 100vh;
}

.container {
    box-shadow: 1em 0.5em 1em rgb(215, 215, 215);
    border-radius: 1em;
    background-color: white;
    transform: translateY(2.5vh);
    height: 95vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    overflow: auto;
}

.left {
    width: 50%;
    padding-top: 6em;
    padding-bottom: 2em;
    margin-left: 3em;
    margin-bottom: 1em;
    margin-top: 20em;
}

.right {
    display: block;
    justify-content: center;
    width: 50%;
    padding: 0px 0px;
    margin-right: 0px;
    padding-top: 6em;
    padding-bottom: 2em;
    align-items: center;
}

.form-control {
    display: block;
    width: 100%;
    margin-left: 0em;
    /* margin-top: 1em;
    padding-bottom: 1em; */
    border: none;
    border-bottom: 1px solid #445366;
    outline: none;
    background-color: transparent;
}