<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <h1>Welcome to our Med-rec App</h1>
    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit et eligendi
      placeat assumenda commodi rerum impedit quaerat optio quos saepe eius
      repudiandae, voluptate nemo minima dolore libero laboriosam laudantium
      voluptatem, eum consequatur. Esse eligendi possimus, facilis corporis
      illum sunt omnis pariatur nulla natus libero ipsum, aliquam, temporibus
      porro ducimus? Adipisci ipsum deleniti doloremque cum sapiente quibusdam
      magnam ducimus mollitia consequatur, soluta ullam asperiores et, eius
      minus error provident quod beatae accusantium culpa maiores. Sed quam
      blanditiis maiores libero molestias commodi ut quia cum temporibus nulla?
      Ipsam possimus vitae alias expedita ea voluptatem, omnis nam debitis
      similique doloribus mollitia eligendi laborum?
    </p>
    <h4>Our Web Users are over <%=visiters%></h4>
  </body>
</html>
